<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Directory Listing</title>
    <link rel="stylesheet" href="{{{base}}}/{{{themeUrl}}}" id="theme" />
    <style type="text/css">
        body {
            margin: 1em;
        }
        a {
            display: block;
            color: #268bd2;
        }
    </style>
</head>

<body>
{{{listing}}}
</body>
</html>
