.reveal {
    font-size: 32px;
}

/* footer */
.reveal header {

    font-size: 0.4em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.4em;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.reveal header .all-talks {
    flex: 1;
}

.reveal header .current-talk {
    flex: 1;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.reveal figcaption {
    font-size: 40%;
}

.cols {
    display: flex;
}
.col {
    flex: 1;
}


.small-print {
    font-size: 6px;
}
